<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="14.0.0" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="QuickGraph" version="3.6.61119.7" manuallyInstalled="true" />
  <package id="QuikGraph" version="2.5.0" manuallyInstalled="true" />
</packages>